# T-SQL Fundamentals

## Gestión de base de datos

Crear una base de datos SQL Server

In [ ]:
CREATE DATABASE testDatabase
GO

Crear una base de datos si no existe

In [ ]:
IF DB_ID('testDatabase') IS NULL
CREATE DATABASE testDatabase
PRINT 'Se ha creado la base de datos testDatabase'
GO

Eliminar base de datos existente

In [ ]:
DROP DATABASE testDatabase
GO

Validar si existe una base de datos y eliminarla

In [ ]:
IF DB_ID('testDatabase') IS NOT NULL
DROP DATABASE testDatabase;
PRINT 'Base de datos encontrada y eliminada'
GO

Poner en uso base de datos

In [ ]:
USE testDatabase
GO

## Creación y gestión de tablas

Crear tabla CLIENTE

In [ ]:
CREATE TABLE CLIENTE
(
    CODCLI CHAR(4),
    NOMCLI NCHAR(60),
    APECLI NCHAR(80),
    DNICLI CHAR(8),
    ESTCLI CHAR(1) DEFAULT 'A', -- Agrega por default el estado A (activo)
    CONSTRAINT CLI_PK PRIMARY KEY (CODCLI) -- Definiendo clave principal
)
GO

Agregar campos a tabla CLIENTE

In [ ]:
ALTER TABLE CLIENTE 
    ADD UBICLI CHAR(6)
GO

Ver columnas de tabla CLIENTE

In [ ]:
EXEC sp_columns @table_name='CLIENTE'
GO

Eliminar columna de tabla CLIENTE

In [ ]:
ALTER TABLE CLIENTE 
    DROP COLUMN UBICLI
GO

Ver columnas de tabla CLIENTE

In [ ]:
EXEC sp_columns @table_name='CLIENTE'
GO

Eliminar tabla CLIENTE

In [ ]:
DROP TABLE CLIENTE 
GO

## Gestión de registros

Insertar un registro tabla CLIENTE

In [ ]:
INSERT INTO CLIENTE
(CODCLI, NOMCLI, APECLI, DNICLI)
VALUES
('C001', 'Alberto', 'Campos Barrios', '12659874')
GO

Insertar más de un registro en una tabla CLIENTE

In [ ]:
INSERT INTO CLIENTE
(CODCLI, NOMCLI, APECLI, DNICLI)
VALUES
('C002', 'Juana', 'Zavala Olaya', '98542631'),
('C003', 'Marcos', 'Arredondo Palomino', '45123697'),
('C004', 'Ramón', 'Stark Ríos', '25361478')
GO

Listar registros tabla CLIENTE

In [ ]:
SELECT * FROM CLIENTE 
GO

Modificar o actualizar registro

In [ ]:
UPDATE CLIENTE
    SET NOMCLI = 'Alexander'
    WHERE CODCLI = 'C001'
GO

Eliminar registros de tabla CLIENTE

In [ ]:
DELETE FROM CLIENTE
    WHERE CODCLI = 'C002'
GO

## Relacionar tablas

### Tabla PERSONA

In [ ]:
CREATE TABLE PERSONA
(
    IDPER INT IDENTITY(1,1),
    NOMPER VARCHAR(60),
    APEPER VARCHAR(80),
    EMAPER VARCHAR(80),
    TIPPER CHAR(1),
    FECNACPER DATE,
    ESTPER CHAR(1) DEFAULT 'A',
    CONSTRAINT PER_PK PRIMARY KEY (IDPER)
)
GO

### Tabla VENTA

In [ ]:
CREATE TABLE VENTA 
(
    IDVEN INT IDENTITY(1,1),
    IDPERVEN INT,
    IDPERCLI INT,
    FECVEN DATETIME DEFAULT GETDATE(), 
    ESTVEN CHAR(1),
    CONSTRAINT VEN_PK PRIMARY KEY (IDVEN)
)
GO

Establecer relación entre tablas VENTA - PERSONA (VENDEDOR)

In [ ]:
ALTER TABLE VENTA 
ADD CONSTRAINT VENTVEN_FK FOREIGN KEY (IDPERVEN)
REFERENCES PERSONA (IDPER)
GO

Establecer relación entre tablas VENTA - PERSONA (CLIENTE)

In [ ]:
ALTER TABLE VENTA 
ADD CONSTRAINT VENTCLI_FK FOREIGN KEY (IDPERCLI)
REFERENCES PERSONA (IDPER)
GO

### Gestionando FECHAS en SQL SERVER

Ver idioma en que se ha instalado MS SQL Server

In [ ]:
SELECT @@language as 'Idioma de SQL Server'
GO

Ver el formato de fecha de acuerdo al idioma de MS SQL Server

In [ ]:
SELECT SYSDATETIME() AS 'Fecha y hora de SQL Server'
GO

Establecer el formato de fecha en DMY (día/mes/año)

In [ ]:
SET DATEFORMAT dmy
GO

Probamos la inserción de fechas en tabla

In [ ]:
CREATE TABLE TEST (FECHA DATE)
GO

In [ ]:
SET DATEFORMAT dmy
GO
INSERT INTO TEST VALUES ('20/12/1999')
GO

In [ ]:
SELECT * FROM TEST
GO

In [ ]:
SELECT FORMAT(FECHA, 'd/MM/yyy')  AS 'Listar fecha'
FROM TEST
GO